// Colors
$grey: #333;
$white: #fff;
$lighter-blue: #B5D0E2;
$light-blue: #2099E8;

// Navigation Colors
$nav-background: $grey;
$nav-menu-text: $white;

// Clock
$clock-text-color: $white;
$clock-bg-color: $lighter-blue;
$clock-border-color: $light-blue;